################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dummy API/DummyWebAPI/.vs/DummyWebAPI
